<!DOCTYPE html>
<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/trash/style.css"/>
  <title>Complain</title>
</head>
<body class="flex h-screen justify-center items-center overflow-hidden">
  <div><a href="/" class="fa fa-home"> → Back </a></div>
  <form method="post" action="/complain" enctype="multipart/form-data">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="contact-info">
            <img src="img/clients/complaint.jpg" alt="image"/>
            <h5>Welcome, <%= user.name %></h5>
            <h2>Register Your Complain</h2>
            <h6>RecycleNet would love to hear from you!</h6>
          </div>
        </div>
        <div class="col-md-9">
          <div class="contact-form">
            <% if (msg) { %>
              <div class="alert alert-<%= alertType %>">
                <span class="fa fa-<%= alertType === 'success' ? 'check' : 'times' %>"><%= msg %></span>
                <% if (alertType === 'success') { %>
                  <a href="http://localhost/EmailVerification/adminlogin/welcome">View Complain</a>
                <% } %>
              </div>
            <% } %>
            <div class="form-group">
              <label class="control-label col-sm-2" for="name">Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Enter Your Name" name="name" required/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="mobile">Mobile:</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="mobile" placeholder="Enter Your Mobile Number" name="mobile" required min="80000000" max="100000000000"/>
              </div>
            </div>
            <input type="hidden" class="form-control" id="email" name="email" value="<%= user.email %>"/>
            <div class="form-group">
              <label class="control-label col-sm-2" for="wastetype">Category:</label>
              <div class="col-sm-10">
                <input type="checkbox" name="wastetype[]" value="organic"/> Organic
                <input type="checkbox" name="wastetype[]" value="inorganic"/> Inorganic
                <input type="checkbox" name="wastetype[]" value="Household"/> Household
                <input type="checkbox" name="wastetype[]" value="mixed" id="mycheck" checked/> All
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="location">Location:</label>
              <div class="col-sm-10">
                <select class="form-control" id="location" name="location" required>
                  <option>Yahoo Junction</option>
                  <option>Dynamo Junction</option>
                  <option>Miracle Junction</option>
                  <option>Netx Level</option>
                  <option>Texas Junction</option>
                  <option>Book Foundation</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10">
                <textarea class="form-control" rows="5" id="locationdescription" placeholder="Enter Location details..." name="locationdescription" required></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="file">Pictures:</label>
              <div class="col-sm-10">
                <input type="file" class="form-control" id="file" name="file" required accept="image/*" capture="camera"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" class="form-control" name="status" value="Pending"/>
                <input type="hidden" class="form-control" name="date" value="<%= new Date().toLocaleString('en-US', { timeZone: 'Africa/Lagos', hour: 'numeric', minute: 'numeric', hour12: true }) + ', ' + new Date().toLocaleDateString('en-US', { timeZone: 'Africa/Lagos', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %>"/>
                <button type="submit" class="btn btn-default" name="submit">Register</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <script type="text/javascript" src="js/formValidation.js"></script>
</body>
</html>
