<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/trash/complain.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container" id="ch">
      <b><mark> YOUR COMPLAIN HISTORY </mark></b>
    </div>
    <div class="container">
      <table cellspacing="10" class="table">
        <br /><br />
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Type of Waste</th>
          <th>Location</th>
          <th>Description</th>
          <th>Images</th>
          <th>Status</th>
          <th colspan="2" align="center">Operations</th>
        </tr>
        <% complaints.forEach(function(complaint) { %>
        <tr class="shadow p-3 mb-5 bg-white rounded">
          <td><%= complaint.date %></td>
          <td><%= complaint.name %></td>
          <td><%= complaint.mobile %></td>
          <td><%= complaint.email %></td>
          <td><%= complaint.wasteType %></td>
          <td><%= complaint.location %></td>
          <td><%= complaint.locationDescription %></td>

          <td>
            <a href="<%= complaint.file %>" target="_blank">
              <img src="<%= complaint.file %>" height="200" width="200" />
            </a>
          </td>

          <td><%= complaint.status %></td>
          <td>
            <a
              href="#"
              class="btn btn-danger"
              data-toggle="modal"
              data-target="#exampleModalCenter"
              onclick='modalLaunch("<%= complaint._id %>")'
              >Delete</a
            >
          </td>
          <td>
            <a href="/update/<%= complaint._id %>" class="btn btn-success"
              >Edit</a
            >
          </td>
        </tr>
        <% }); %>
      </table>
    </div>

    <!-- Delete Modal -->
    <div
      class="modal fade"
      id="exampleModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this complaint?
            <input id="toDeleteId" type="hidden" value="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">
              Close
            </button>
            <button
              type="button"
              class="btn btn-danger"
              onclick="confirmDelete()"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      var delId;
      function modalLaunch(id) {
        delId = id;
        $("#toDeleteId").val(id);
      }

      function confirmDelete() {
        window.location.href = `/delete/${delId}`;
      }
    </script>
  </body>
</html>
